/*Setup*/
@font-face {
  font-family: 'open_sans';
  src: url("../../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'san_francisco';
  src: url("../../fonts/sfuidisplay-regular-webfont.woff2") format("woff2"), url("../../fonts/sfuidisplay-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

body {
  font-family: san_francisco;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0b172a; }

.wrapper {
  height: 100%; }

.container {
  max-width: 1240px;
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

p {
  padding: 0;
  margin: 0; }

/*Block*/
.header {
  padding-top: 15px;
  margin-bottom: 15px; }

.white-block {
  background-color: #FFFFFF;
  width: 140px;
  height: 16px; }

.white-block img {
  max-width: 100%;
  max-height: 100%; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.about__list {
  margin-bottom: 50px; }

.about__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 20px;
  color: #7A8F99; }

.about__item:last-child {
  margin-bottom: 0; }

.about__item::before {
  content: "";
  display: block;
  width: 18px;
  height: 14px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: url(../images/icon/check.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 16px; }

.form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form__radio-input {
  display: none; }

.form__toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%; }

.toolbar {
  background: rgba(245, 248, 250, 0.1);
  border-radius: 4px; }

.toolbar__col {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }
  .toolbar__col:first-child .toolbar__label {
    border-radius: 4px 0 0 4px; }
  .toolbar__col:last-child .toolbar__label {
    border-radius: 0 4px 4px 0; }

.toolbar__label {
  display: inline-block;
  border: 1px solid transparent;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.form__radio-input:checked + .toolbar__label,
.toolbar__label:hover {
  background-color: #0b172a;
  border: 1px solid #20A86B;
  cursor: pointer; }

.form__checkbox {
  position: absolute;
  top: 0;
  left: -9999px; }

.form__checkbox ~ .label_checkbox {
  position: relative; }

.form__checkbox ~ .label_checkbox:hover {
  cursor: pointer; }

.form__checkbox ~ .label_checkbox:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #212d3e;
  border: none;
  border-radius: 4px;
  margin-right: 15px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }

.form__checkbox ~ .label_checkbox:after {
  content: '';
  background: url(../../images/icon/check.png) 50% 50% no-repeat;
  display: inline-block;
  position: absolute;
  left: 0;
  opacity: 0;
  width: 32px;
  height: 32px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  top: 3%; }

.form__checkbox:checked ~ .label_checkbox:after {
  opacity: 1; }

.label_checkbox {
  font-size: 12px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.content__title {
  font-family: 'open_sans';
  font-size: 36px;
  line-height: 48px;
  color: #FFFFFF;
  margin-bottom: 30px; }

.content__form {
  width: 35%;
  margin-right: 5%;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
  @media screen and (max-width: 1024px) {
    .content__form {
      width: 45%;
      height: 520px; } }
  @media screen and (max-width: 768px) {
    .content__form {
      width: 100%; } }

.content__bg {
  position: absolute;
  right: 0;
  top: 90px;
  height: 613px;
  width: 56%;
  background-image: url(../images/content/frontal-black.png), url(../images/content/dark.png);
  background-repeat: no-repeat;
  background-size: 30%, contain;
  background-position: left bottom, right bottom; }
  @media screen and (min-width: 1366px) {
    .content__bg {
      background-size: 245px, contain; } }
  @media screen and (max-width: 1024px) {
    .content__bg {
      width: 50%;
      height: 520px; } }
  @media screen and (max-width: 768px) {
    .content__bg {
      display: none; } }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 8px 18px;
  font-family: 'open_sans';
  cursor: pointer; }
  .button_white {
    border: 1px solid #d8e1e6;
    background: transparent; }
    .button_white:hover {
      border: 1px solid #1c945d;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
  .button_icon::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 4px; }
  .button_icon-login::before {
    width: 24px;
    height: 24px;
    background: url(../images/icon/user.svg); }

.button__link {
  color: #ffffff;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  cursor: pointer; }

.btn-submit {
  display: inline-block;
  font-family: 'open_sans';
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: #1c945d;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding: 16px;
  width: 100%;
  border: none;
  outline: 0;
  cursor: pointer; }
  .btn-submit:hover {
    background: rgba(28, 148, 93, 0.7); }

.label_animate {
  position: absolute;
  pointer-events: none;
  font-size: 16px;
  top: 50%;
  left: 0;
  z-index: 1;
  padding-left: 24px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all ease-in 0.25s;
  -o-transition: all ease-in 0.25s;
  transition: all ease-in 0.25s; }

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: none;
  background: rgba(245, 248, 250, 0.1);
  color: #fff;
  padding: 31px 24px 8px;
  border-radius: 3px;
  border: 1px solid transparent;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  cursor: pointer; }
  .input:focus {
    border: 1px solid #20a86b;
    outline: none; }
  .input:hover {
    border: 1px solid #20a86b; }
  .input:invalid:not(:placeholder-shown) {
    border-color: #e15433;
    background: rgba(245, 248, 250, 0.1); }
  .input::-webkit-input-placeholder {
    opacity: 0; }
  .input::-moz-placeholder {
    opacity: 0; }
  .input:-ms-input-placeholder {
    opacity: 0; }
  .input:-moz-placeholder {
    opacity: 0; }
  .input:focus ~ .label_animate,
  .input:not(:placeholder-shown) ~ .label_animate {
    top: 30%;
    font-size: 12px; }
  .input:invalid:not(:placeholder-shown) ~ .form__error {
    display: block; }

.form__error {
  font-family: 'san_francisco';
  font-size: 16px;
  color: #ffffff;
  line-height: 24px;
  display: none;
  background: #e15433;
  border-radius: 4px;
  text-align: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  padding: 8px 16px;
  width: 248px;
  border: none;
  outline: 0;
  position: absolute;
  top: -50px;
  left: 20%;
  z-index: 3; }

.triangle {
  border-top: 10px solid #e15433;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  bottom: 90%;
  position: absolute;
  left: 50%;
  top: 90%; }

.form__error-email {
  width: 100%;
  left: 0;
  top: -20%;
  text-align: left; }
  .form__error-email_icon::before {
    content: "";
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 4px; }
  .form__error-email:active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .form__error-email:active + .btn-submit {
    margin-top: 50px; }

.button_icon-error::before {
  width: 24px;
  height: 24px;
  background: url(../images/icon/attention.png);
  background-repeat: no-repeat;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 4px; }

.form__row {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  color: #7A8F99; }
  .form__row:last-child {
    margin-bottom: 0; }
  .form__row_extra-margin {
    margin-bottom: 40px; }

.form__row-title {
  font-size: 12px;
  line-height: 16px;
  margin-right: 16px;
  width: 30%; }

.photo__phone {
  position: absolute;
  top: 22%;
  left: -2%;
  max-width: 245px; }

.phone__image {
  max-width: 100%;
  max-height: 100%; }

.tablet__image {
  max-width: 100%;
  max-height: 100%; }

/*# sourceMappingURL=main.css.map */