
@font-face {
    font-family: 'open_sans';
    src: url('../../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'san_francisco';
    src: url('../../fonts/sfuidisplay-regular-webfont.woff2') format('woff2'),
         url('../../fonts/sfuidisplay-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}